---
import Icon from 'astro-icon'
import { Image } from 'astro:assets';

type Props = {
  project: {
    name: string
    excerpt: string
    image: string
    tags: {
      name: string
    }[]
    gitHubUrl?: string
    liveSiteUrl: string
  }
}

const { project }: Props = Astro.props
---

<div
  class="group relative flex h-64 w-full gap-2 overflow-hidden rounded-lg border border-black p-4 transition-all duration-200 ease-in-out hover:shadow-lg hover:border-purple-light"
>
  <Image
    src={project.image}
    alt={project.name}
    width={1280}
    height={800}
    class="absolute -left-96 top-4 rounded shadow-lg transition-all duration-500 ease-in-out group-hover:rotate-1 group-hover:scale-95 group-even:group-hover:-rotate-1 group-even:left-[initial] group-even:-right-[400px]"
    loading={"lazy"}
  />

  <div
    class="ml-[375px] flex w-1/2 flex-col items-center justify-between gap-4 pl-3 group-even:ml-0 group-even:pl-0"
  >
    <div class="flex flex-col gap-2">
      <h1 class="w-full text-center text-xl uppercase">{project.name}</h1>
      <ul class="flex flex-wrap gap-2">
        {
          project.tags.map((tag) => (
            <li class="rounded-full bg-gray-200 px-2 py-1 text-xs">
              {tag.name}
            </li>
          ))
        }
      </ul>
      <p class="">{project.excerpt}</p>
    </div>
    <div class="flex w-full gap-2">
      <a
        href={project.gitHubUrl}
        class="flex w-1/2 items-center justify-center gap-1 rounded-lg bg-black py-1 text-white hover:bg-purple-light"
      >
        <Icon name="github" class="h-4 w-4" />
         code
      </a>
      {
        project.liveSiteUrl && (
          <a
            href={project.liveSiteUrl}
            class="flex w-1/2 items-center justify-center gap-1 rounded-lg bg-black py-1 text-white hover:bg-purple-light"
          >
            <Icon name="openoutline" class="h-4 w-4" />
            live site
          </a>
        )
      }
    </div>
  </div>
</div>
